		body {font-family: Georgia, serif;
	      font-size: 19px;
	      line-height: 26px;}
		  
.container{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 0px;
			gap: 64px;
			margin: 32px 64px;
			justify-content: flex-start;
			}

.container1 {display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 0px;
			gap: 64px;
			margin: 32px 64px;
			justify-content: center;}
		.column-right{
			width: 250px;
			}
		.column-left{
			width: 850px;
			margin-right: 110px;
			margin-left: 35px
			}	
			
		/*.arba {text-align: left; vertical-align: bottom;}*/
		
		.arba1 {background-color: WhiteSmoke}
		

			
		ul {margin-left: 30px;
			padding: 0;}
			
		ul li {list-style: none;
				/*margin: 0 0 .44em 0;*/
				/*padding-left: 30px;*/}
		
		h1 {/*font-family: arial;*/
			font-size: 33px;
			line-height: 37px;
			margin: 0;}
		
		h2 {margin: 0;}
​
		h3 {font-family: Helvetica Neue, sans-serif;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 0;
			padding: 0;	}
​
		p {	margin: 0 0 .88em 0;}
​
		div {margin: 0 0 2em 0;}

		img {display: block;
			max-width: 100%;
			height: auto;
			margin-bottom: 0;}
